:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --hover-text-color: #2196F3;
  --white-text-color: #FFFFFF;
  --grey-text-color: #F5F4FA;
  --icon-color: #AFB1B8;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-style: normal;
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* _____________________________________________________________________ */
/* -------------------- mobile 480px-------------------- */
@media screen and (max-width: 480px) {
  .section-projects {
    display: none;
  }
}
/* _____________________________________________________________________ */
/* -------------------- tablet 768px-------------------- */
@media screen and (min-width: 481px) {
  .container {
    width: 768px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .section-projects {
    display: none;
  }
}
/* _____________________________________________________________________ */
/* -------------------- desctop 1600px-------------------- */
@media screen and (min-width: 769px) {
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* _____________________________________________________________________ */
/* -------------------- Page-Header 480px-------------------- */
.header {
  border-bottom: 1px solid #ECECEC;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}

.page-header__logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.page-header__logo--web {
  color: var(--hover-text-color);
}

.page-header__logo--studio {
  color: var(--primary-text-color);
}

.site-nav {
  display: none;
}

.auth-nav {
  display: none;
}

/* _____________________________________________________________________ */
/* -------------------- tablet 768px-------------------- */
@media screen and (min-width: 481px) {
  .header {
    border-bottom: 1px solid #ECECEC;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-header {
    height: 80px;
  }
  .page-header__navigate {
    display: flex;
    align-items: center;
  }
  .page-header__logo--web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--hover-text-color);
  }
  .page-header__logo--studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--primary-text-color);
  }
  /* -------------------- Page-Header__site-nav -------------------- */
  .site-nav {
    display: flex;
    padding: 0;
    margin-left: 80px;
    margin-right: 84px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: 250ms var(--timing-function);
    fill: var(--icon-color);
    position: relative;
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--hover-text-color);
    transition: 250ms var(--timing-function);
  }
  .site-nav__link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
  }
  .site-nav__link:hover::after, .site-nav__link:focus::after {
    opacity: 1;
  }
  /* -------------------- Page-Header__auth-nav -------------------- */
  .auth-nav {
    display: block;
  }
  .auth-nav__link {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 1px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: 250ms var(--timing-function);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--hover-text-color);
    fill: var(--hover-text-color);
  }
  .auth-nav__link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
  }
  .auth-nav__link:hover::after, .auth-nav__link:focus::after {
    opacity: 1;
  }
  .auth-nav__icon {
    margin-right: 8px;
  }
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
  /* -------------------- Page-Header Current -------------------- */
  .site-nav_link--current {
    color: var(--hover-text-color);
  }
  .site-nav_link--current::after {
    opacity: 1;
  }
}
/* _____________________________________________________________________ */
/* -------------------- desctop 1600px-------------------- */
@media screen and (min-width: 769px) {
  .header {
    border-bottom: 1px solid #ECECEC;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: auto;
  }
  .page-header__navigate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* -------------------- Page-Header__Logo -------------------- */
  .page-header__logo {
    text-decoration: none;
  }
  .page-header__logo--web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--hover-text-color);
  }
  .page-header__logo--studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-text-color);
  }
  /* -------------------- Page-Header__site-nav -------------------- */
  .site-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 93px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: 250ms var(--timing-function);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--hover-text-color);
    transition: 250ms var(--timing-function);
  }
  .site-nav__link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
  }
  .site-nav__link:hover::after, .site-nav__link:focus::after {
    opacity: 1;
  }
  .site-nav__link {
    fill: var(--icon-color);
    position: relative;
  }
  /* -------------------- Page-Header__auth-nav -------------------- */
  .auth-nav {
    display: flex;
    margin-left: auto;
  }
  .auth-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .auth-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: 250ms var(--timing-function);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--hover-text-color);
    fill: var(--hover-text-color);
  }
  .auth-nav__link::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
  }
  .auth-nav__link:hover::after, .auth-nav__link:focus::after {
    opacity: 1;
  }
  .auth-nav__icon {
    margin-right: 10px;
  }
  .auth-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
  /* -------------------- Page-Header Current -------------------- */
  .site-nav_link--current {
    color: var(--hover-text-color);
  }
  .site-nav_link--current::after {
    opacity: 1;
  }
}
/* _________________________________________________________________ */
/* -------------------- Main__Hero -------------------- */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 60px;
  padding-right: 60px;
  margin: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
  width: 480px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero__title {
  text-align: center;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero__button {
  display: flex;
  align-items: center;
  padding: 10px 32px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--hover-text-color);
  border: none;
  border-radius: 4px;
  color: var(--white-text-color);
  cursor: pointer;
}

/* _____________________________________________________________________ */
/* -------------------- tablet 768px-------------------- */
@media screen and (min-width: 481px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    padding-left: 204px;
    padding-right: 204px;
    margin: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
    width: 768px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .hero__title {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
  .hero__button {
    display: flex;
    align-items: center;
    padding: 10px 32px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--hover-text-color);
    border: none;
    border-radius: 4px;
    color: var(--white-text-color);
    cursor: pointer;
  }
}
/* _____________________________________________________________________ */
/* -------------------- desctop 1600px-------------------- */
@media screen and (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__title {
    text-align: center;
    padding-bottom: 30px;
    margin: auto;
    width: 699px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
  .hero__button {
    display: flex;
    align-items: center;
    padding: 10px 32px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--hover-text-color);
    border: none;
    border-radius: 4px;
    color: var(--white-text-color);
    cursor: pointer;
  }
}
/* _________________________________________________________________ */
/* --------------------mobile 480 px-------------------- */
@media screen and (max-width: 481px) {
  .section-pride {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;
  }
  .section-pride .pride__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .pride {
    flex-wrap: wrap;
  }
  .pride__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    padding: 25px 190px;
    border-radius: 4px;
    background-color: var(--grey-text-color);
    margin-bottom: 30px;
  }
  .pride__heading {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .pride__paragraph {
    font-size: 14px;
    line-height: 1.71;
    color: var(--title-text-color);
  }
}
/* _____________________________________________________________________ */
/* -------------------- tablet 768px-------------------- */
@media screen and (min-width: 481px) {
  .section-pride {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pride {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
  .pride__item {
    width: 354px;
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .pride__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: var(--grey-text-color);
    margin-bottom: 30px;
  }
  .pride__heading {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .pride__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}
/* _____________________________________________________________________ */
/* -------------------- desctop 1600px-------------------- */
@media screen and (min-width: 769px) {
  .section-pride {
    width: 1200px;
    margin: auto;
    padding-top: 89px;
    padding-bottom: 94px;
  }
  .pride {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }
  .pride__image {
    display: flex;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: var(--grey-text-color);
    justify-content: center;
    margin-bottom: 30px;
  }
  .pride__heading {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .pride__paragraph {
    font-size: 14px;
    line-height: 1.71;
    color: var(--title-text-color);
  }
  .pride__item {
    width: 270px;
    height: 250px;
    width: calc((100% - 90px) / 4);
    margin: 0;
  }
}
/* _________________________________________________________________ */
/* --------------------mobile 480 px-------------------- */
@media screen and (max-width: 481px) {
  .section-team {
    background-color: var(--grey-text-color);
    padding-bottom: 60px;
    padding-top: 60px;
    width: 480px;
    margin: auto;
  }
  .section-team_heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .team-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
  }
  .team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team:not(:last-child) {
    margin-bottom: 30px;
  }
  .team__person {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-text-color);
    border-radius: 0px 0px 4px 4px;
  }
  .team__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
  }
  .team__paragraph {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
  }
  .team__item {
    text-decoration: none;
    display: inline-block;
  }
  .team__item:not(:last-child) {
    margin-right: 10px;
  }
  .team__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);
  }
  .team__link:hover, .team__link:focus {
    fill: var(--white-text-color);
    background-color: var(--hover-text-color);
    border-radius: 50%;
  }
}
/* _____________________________________________________________________ */
/* -------------------- tablet 768px-------------------- */
@media screen and (min-width: 481px) {
  .section-team {
    background-color: var(--grey-text-color);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-team_heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .team-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team {
    width: 354px;
    height: 536px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .team img {
    width: 354px;
    height: 360px;
    background-size: cover;
  }
  .team__person {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-text-color);
    border-radius: 0px 0px 4px 4px;
  }
  .team__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
  }
  .team__paragraph {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
  }
  .team__item {
    text-decoration: none;
    display: inline-block;
  }
  .team__item:not(:last-child) {
    margin-right: 10px;
  }
  .team__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);
  }
  .team__link:hover, .team__link:focus {
    fill: var(--white-text-color);
    background-color: var(--hover-text-color);
    border-radius: 50%;
  }
}
/* _____________________________________________________________________ */
/* -------------------- desctop 1600px-------------------- */
@media screen and (min-width: 769px) {
  .section-team {
    background-color: var(--grey-text-color);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-team_heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .team-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -10px;
  }
  .team {
    height: 440px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 90px) / 4);
    margin: 10px;
  }
  .team img {
    display: block;
    width: 275px;
    height: 270px;
  }
  .team__person {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-text-color);
    border-radius: 0px 0px 4px 4px;
  }
  .team__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
  }
  .team__paragraph {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
  }
  .team__item {
    text-decoration: none;
    display: inline-block;
  }
  .team__item:not(:last-child) {
    margin-right: 10px;
  }
  .team__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);
  }
  .team__link:hover, .team__link:focus {
    fill: var(--white-text-color);
    background-color: var(--hover-text-color);
    border-radius: 50%;
  }
}
/* _________________________________________________________________ */
/* --------------------Main__Clients-------------------- */
@media (max-width: 480px) {
  .section-clients {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__heading {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
  }
  .client {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
  }
  .client__link {
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);
    margin: 15px;
  }
  .client__link:hover, .client__link:focus {
    fill: var(--hover-text-color);
    border: 1px solid #2196F3;
    outline: none;
  }
  .client__image {
    width: 210px;
    height: 92px;
  }
}
/* _____________________________________________________________________ */
/* -------------------- tablet 768px-------------------- */
@media screen and (min-width: 481px) {
  .section-clients {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__heading {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
  }
  .client {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
  }
  .client__link {
    width: 226px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);
    margin: 15px;
  }
  .client__link:hover, .client__link:focus {
    fill: var(--hover-text-color);
    border: 1px solid #2196F3;
    outline: none;
  }
  .client__image {
    width: 226px;
    height: 92px;
  }
}
/* _____________________________________________________________________ */
/* -------------------- desctop 1600px-------------------- */
@media screen and (min-width: 769px) {
  .section-clients {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__heading {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }
  .client {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .client__link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);
  }
  .client__link:hover, .client__link:focus {
    fill: var(--hover-text-color);
    border: 1px solid #2196F3;
    outline: none;
  }
  .client__image {
    width: 170px;
    height: 92px;
  }
}
/* _________________________________________________________________ */
/* --------------------Page footer 480px-------------------- */
@media screen and (max-width: 480px) {
  .footer {
    width: 480px;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
  }
  .footer__link--blue {
    color: #2196F3;
  }
  .footer-adress {
    margin-bottom: 60px;
  }
  .footer-adress__item {
    margin-top: 9px;
  }
  .footer-adress__link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-text-color);
    transition: 250ms var(--timing-function);
  }
  .footer-adress__link:hover, .footer-adress__link:focus {
    color: var(--hover-text-color);
  }
  .footer-adress__contacts a {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-adress__contacts a:hover, .footer-adress__contacts a:focus {
    color: var(--hover-text-color);
  }
  .footer-join {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-join__paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .footer-join__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-join__icon li:not(:last-child) {
    margin-right: 10px;
  }
  .footer-join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    fill: var(--grey-text-color);
    transition: 250ms var(--timing-function);
  }
  .footer-join__link:hover, .footer-join__link:focus {
    fill: var(--white-text-color);
    background-color: var(--hover-text-color);
    border-radius: 50%;
  }
  .footer-submint__header {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer-submint__input {
    padding: 15px auto;
    padding-left: 10px;
    width: 358px;
    height: 50px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .footer-submint__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 4px;
    color: var(--white-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
  }
  .footer-submint__icon {
    fill: var(--white-text-color);
    margin-left: 10px;
  }
}
/* _____________________________________________________________________ */
/* -------------------- tablet 768px-------------------- */
@media screen and (min-width: 481px) {
  .footer {
    margin: auto;
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
  }
  .footer-nav__adress {
    margin-left: 76px;
  }
  .footer__logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
  }
  .footer__link--blue {
    color: #2196F3;
  }
  .footer-adress__item {
    margin-top: 9px;
  }
  .footer-adress__link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-text-color);
    transition: 250ms var(--timing-function);
  }
  .footer-adress__link:hover, .footer-adress__link:focus {
    color: var(--hover-text-color);
  }
  .footer-adress__contacts a {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-adress__contacts a:hover, .footer-adress__contacts a:focus {
    color: var(--hover-text-color);
  }
  .footer-join {
    margin-right: 89px;
  }
  .footer-join__paragraph {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
  }
  .footer-join__icon {
    display: flex;
    align-items: center;
  }
  .footer-join__icon li:not(:last-child) {
    margin-right: 10px;
  }
  .footer-join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    fill: var(--grey-text-color);
    transition: 250ms var(--timing-function);
  }
  .footer-join__link:hover, .footer-join__link:focus {
    fill: var(--white-text-color);
    background-color: var(--hover-text-color);
    border-radius: 50%;
  }
  .footer-submint {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-submint__header {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer-submint__form {
    display: flex;
    flex-direction: column;
  }
  .footer-submint__form input {
    padding: 15px auto;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 450px;
    height: 50px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .footer-submint__form::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__form:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__form::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__button {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 4px;
    color: var(--white-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
  }
  .footer-submint__icon {
    fill: var(--white-text-color);
    margin-left: 10px;
  }
}
/* _____________________________________________________________________ */
/* -------------------- desctop 1600px-------------------- */
@media screen and (min-width: 769px) {
  .footer {
    min-width: 1600px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__logo {
    text-align: start;
    margin-right: 70px;
    margin-bottom: 20px;
  }
  .footer__link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
  }
  .footer__link--blue {
    color: #2196F3;
  }
  .footer-adress__item {
    margin-top: 9px;
  }
  .footer-adress__link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-text-color);
    transition: 250ms var(--timing-function);
  }
  .footer-adress__link:hover, .footer-adress__link:focus {
    color: var(--hover-text-color);
  }
  .footer-nav__adress {
    margin-left: 0;
  }
  .footer-adress__contacts a {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-adress__contacts a:hover, .footer-adress__contacts a:focus {
    color: var(--hover-text-color);
  }
  .footer-join {
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer-join__paragraph {
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .footer-join__icon {
    display: flex;
  }
  .footer-join__icon li:not(:last-child) {
    margin-right: 10px;
  }
  .footer-join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    fill: var(--grey-text-color);
    transition: 250ms var(--timing-function);
  }
  .footer-join__link:hover, .footer-join__link:focus {
    fill: var(--white-text-color);
    background-color: var(--hover-text-color);
    border-radius: 50%;
  }
  .footer-submint {
    margin-top: 0;
    margin-left: 0;
  }
  .footer-submint__header {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: start;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer-submint__form {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
  }
  .footer-submint__form input {
    padding: 15px auto;
    padding-left: 10px;
    width: 358px;
    height: 50px;
    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .footer-submint__form .footer-submint__input {
    margin-bottom: 0;
  }
  .footer-submint__form::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__form:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__form::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .footer-submint__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 4px;
    color: var(--white-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
  }
  .footer-submint__icon {
    fill: var(--white-text-color);
    margin-left: 10px;
  }
}
/* _________________________________________________________________ */
/* --------------------desctop-------------------- */
@media screen and (min-width: 769px) {
  .section-projects {
    padding-bottom: 94px;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  .section-projects__heading {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
  }
  .projects__item {
    position: relative;
  }
  .projects__item:not(:last-child) {
    margin-right: 30px;
  }
  .projects__overlay {
    position: relative;
  }
  .projects__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    transition: transform 250ms ease;
  }
  .projects__overlay--paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 27px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=main.css.map */