@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
        border-bottom: 1px solid #ECECEC;
    }

    .page-header {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .page-header__navigate {
        display: flex;
        align-items: center;
    }

    .page-header__logo--web {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        color: var(--hover-text-color);
    }

    .page-header__logo--studio {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        color: var(--primary-text-color);
    }

    /* -------------------- Page-Header__site-nav -------------------- */
    .site-nav {
        display: flex;
        padding: 0;
        margin-left: 88px;
        margin-right: 84px;
    }

    .site-nav__item:not(:last-child) {
        margin-right: 50px;
    }

    .site-nav__link {
        padding-bottom: 32px;
        padding-top: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition: 250ms var(--timing-function);
        fill: var(--icon-color);
        position: relative;

        &:hover,
        &:focus {
            color: var(--hover-text-color);
            transition: 250ms var(--timing-function);
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: #2196F3;
            border-radius: 2px;
            opacity: 0;
            transition: opacity 250ms var(--timing-function);
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
        }
    }

    /* -------------------- Page-Header__auth-nav -------------------- */
    .auth-nav {
        display: block;
    }


    .auth-nav__link {
        display: flex;
        align-items: flex-end;
        position: relative;
        padding: 1px 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        transition: 250ms var(--timing-function);


        &:hover,
        &:focus {
            color: var(--hover-text-color);
            fill: var(--hover-text-color);
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: #2196F3;
            border-radius: 2px;
            opacity: 0;
            transition: opacity 250ms var(--timing-function);
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
        }
    }

    .auth-nav__icon {
        margin-right: 8px;
    }

    .auth-nav__item:not(:last-child) {
        margin-bottom: 10px;
    }

    /* -------------------- Page-Header Current -------------------- */
    .site-nav_link--current {
        color: var(--hover-text-color);

        &::after {
            opacity: 1;
        }
    }
}
