/* _________________________________________________________________ */
/* --------------------Main__Clients-------------------- */
@media (max-width: 480px) {
    .section-clients {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 480px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .clients__heading {
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 30px;
    }

    .client {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
    }


    .client__link {
        width: 210px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        fill: var(--icon-color);
        transition: 250ms var(--timing-function);
        margin: 15px;
    
        &:hover,
        &:focus {
            fill: var(--hover-text-color);
            border: 1px solid #2196F3;
            outline: none;
        }
    }

    .client__image {
        width: 210px;
        height: 92px;
    }
}
/* _____________________________________________________________________ */
/* -------------------- tablet 768px-------------------- */

@media screen and (min-width: 481px) {
.section-clients {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 768px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .clients__heading {
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 30px;
    }

    .client {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -15px;
    }

    .client__link {
        width: 226px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        fill: var(--icon-color);
        transition: 250ms var(--timing-function);
        margin: 15px;

        &:hover,
        &:focus {
            fill: var(--hover-text-color);
            border: 1px solid #2196F3;
            outline: none;
        }
    }

    .client__image {
        width: 226px;
        height: 92px;
    }
}


/* _____________________________________________________________________ */
/* -------------------- desctop 1600px-------------------- */
@media screen and (min-width: 769px) {
    .section-clients {
        width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .clients__heading {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        margin-bottom: 50px;
    }

    .client {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .client__link {
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        fill: var(--icon-color);
        transition: 250ms var(--timing-function);

        &:hover,
        &:focus {
            fill: var(--hover-text-color);
            border: 1px solid #2196F3;
            outline: none;
        }
    }

    .client__image {
        width: 170px;
        height: 92px;
    }
}