@media screen and (max-width: 480px) {
    html {
            box-sizing: border-box;
            line-height: 0;
            width: 100%;
                height: 100%;
        }
    
        *,
        *::before,
        *::after {
            box-sizing: inherit;
            padding: 0;
            margin: 0;
        }
    
        body {
            font-style: normal;
            background-color: var(--white-text-color);
            color: var(--primary-text-color);
        }
    
        ul {
            list-style: none;
        }
    
        a {
            text-decoration: none;
            font-style: normal;
        }
    
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    
        .container {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
            padding-right: 15px;
            padding-left: 15px;
        }
}
