/* _________________________________________________________________ */
/* --------------------Main__Projects-------------------- */
.section-projects {
    padding-bottom: 94px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.section-projects__heading {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}

.projects__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.projects__overlay {
    position: relative;
}

.projects__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    transition: transform 250ms ease;
}

.projects__overlay--paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 27px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}