/* _________________________________________________________________ */
/* --------------------Main__Team-------------------- */
.section-team {
    background-color: var(--grey-text-color);
    padding-bottom: 94px;
    padding-top: 94px;
}

.section-team_heading {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
}

.team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__person {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--white-text-color);
    border-radius: 0px 0px 4px 4px;
}

.team__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}

.team__paragraph {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}

.team__item {
    text-decoration: none;
    display: inline-block;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.team__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--white-text-color);
            background-color: var(--hover-text-color);
            border-radius: 50%;
    }
}
