/* _____________________________________________________________________ */
/* -------------------- Page-Header -------------------- */

@media screen and (max-width: 480px) {
    .header {
        border-bottom: 1px solid #ECECEC;
    }
    .page-header {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 60px;
    }

    // .page-header__navigate {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    .page-header__logo {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }

    .page-header__logo--web {
        color: var(--hover-text-color);
    }

    .page-header__logo--studio {
        color: var(--primary-text-color);
    }
}






/* -------------------- Page-Header__Logo -------------------- */


/* -------------------- Page-Header__site-nav -------------------- */
.site-nav {
    display: none;
    padding: 0;
    margin-left: 93px;
}

// .site-nav__item:not(:last-child) {
//     margin-right: 50px;
// }

// .site-nav__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-bottom: 32px;
//     padding-top: 32px;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1;
//     letter-spacing: 0.02em;
//     color: var(--primary-text-color);
//     transition: 250ms var(--timing-function);

//     &:hover,
//     &:focus {
//         color: var(--hover-text-color);
//         transition: 250ms var(--timing-function);
//     }

//     &::after {
//         content: "";
//         position: absolute;
//         display: block;
//         bottom: 0;
//         width: 100%;
//         height: 4px;
//         background: #2196F3;
//         border-radius: 2px;
//         opacity: 0;
//         transition: opacity 250ms var(--timing-function);
//     }

//     &:hover::after,
//     &:focus::after {
//         opacity: 1;
//     }
// }

// .site-nav__link {
//     fill: var(--icon-color);
//     position: relative;
// }


/* -------------------- Page-Header__auth-nav -------------------- */
.auth-nav {
    display: none;
    margin-left: auto;
}

// .auth-nav__item:not(:last-child) {
//     margin-right: 50px;
// }

// .auth-nav__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     padding: 30px 0;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1;
//     letter-spacing: 0.02em;
//     color: var(--title-text-color);
//     transition: 250ms var(--timing-function);

//     &:hover,
//     &:focus {
//         color: var(--hover-text-color);
//         fill: var(--hover-text-color);
//     }

//     &::after {
//         content: "";
//         position: absolute;
//         display: block;
//         bottom: 0;
//         width: 100%;
//         height: 4px;
//         background: #2196F3;
//         border-radius: 2px;
//         opacity: 0;
//         transition: opacity 250ms var(--timing-function);
//     }

//     &:hover::after,
//     &:focus::after {
//         opacity: 1;
//     }
// }

// .auth-nav__icon {
//     margin-right: 10px;
// }


/* -------------------- Page-Header Current -------------------- */
// .site-nav_link--current {
//     color: var(--hover-text-color);

//     &::after {
//         opacity: 1;
//     }
// }
