@media screen and (max-width: 767px) {
    .header {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #ECECEC;
    }

    .page-header {
        display: flex;
        height: 60px;
        position: relative;
    }

    .page-header__navigate {
        display: flex;
        align-items: center;
    }

    .page-header__logo {
        margin-right: 275px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }

    .page-header__logo--web {
        color: var(--hover-text-color);
    }

    .page-header__logo--studio {
        color: var(--primary-text-color);
    }

    .site-nav {
        display: none;
    }

    .auth-nav {
        display: none;
    }
}
