/* _________________________________________________________________ */
/* --------------------Page footer-------------------- */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-nav {
    display: flex;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}

.footer__link--blue {
    color: #2196F3;
}

.footer-adress__item {
    margin-top: 9px;
}

.footer-adress__link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-text-color);
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
    color: var(--hover-text-color);
    }
}


.footer-adress__contacts a {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
    color: var(--hover-text-color);
    }
}

.footer-join {
    margin-left: 75px;
}

.footer-join__paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
    padding-top: 10px;
}

.footer-join__icon {
    display: flex;
    align-items: center;

    & li:not(:last-child) {
        margin-right: 10px;
    }
}

.footer-join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    fill: var(--grey-text-color);
    transition: 250ms var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--white-text-color);
        background-color: var(--hover-text-color);
        border-radius: 50%;
    }
}

.footer-submint {
    margin-left: 95px;
}

.footer-submint__header {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-submint__form {
    display: flex;

    & input {
        padding: 15px auto;
        padding-left: 10px;
        width: 358px;
        height: 50px;
        background: #2F303A;
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        font-style: normal;
    }
}



.footer-submint__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 4px;
    color: var(--white-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
}

.footer-submint__icon {
    fill: var(--white-text-color);
    margin-left: 10px;
}