@media screen and (min-width: 1200px) {
    .section-pride {
        padding-top: 89px;
        padding-bottom: 94px;
    }

    .pride {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
    }

    .pride__image {
        display: flex;
        padding: 25px 100px;
        border-radius: 4px;
        background-color: var(--grey-text-color);
        justify-content: center;
        margin-bottom: 30px;
    }

    .pride__heading {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;
    }

    .pride__paragraph {
        font-size: 14px;
        line-height: 1.71;
        color: var(--title-text-color);
    }

    .pride__item {
        width: 270px;
        height: 250px;
        width: calc((100% - 3 * 30px) / 4);
        margin: 0;
    }
}