@media screen and (min-width: 1200px) {
    .section-pride {
        padding-top: 89px;
        padding-bottom: 94px;
    }

    .pride {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
    }

    .pride__image {
        padding: 25px 100px;
    }

    .pride__item {
        width: 270px;
        height: 250px;
        width: calc((100% - 3 * 30px) / 4);
        margin: 0;
    }
}