@media screen and (min-width: 1200px) {
    .section-clients {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .clients__heading {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .client_item:not(:last-child) {
        margin-right: 30px;
    }

    .client__link {
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        fill: var(--icon-color);
        transition: 250ms var(--timing-function);

        &:hover,
        &:focus {
            fill: var(--hover-text-color);
            border: 1px solid #2196F3;
            outline: none;
        }
    }

}