@media screen and (min-width: 1200px) {
    .section-portfolio {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .portfolio-button {
        margin-bottom: 50px;
    }

    .portfolio-gallery__item {
        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }

        &:not(:nth-child(n+7)) {
            margin-bottom: 30px;
        }

        &:not(:nth-child(n+7)) {
            margin-bottom: 30px;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        & img {
            width: 370px;
            display: block;
            background-position: center;
            background-size: cover;
        }
    }

    .portfolio-gallery__overlay--paragraph {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    .portfolio-gallery__description {
        padding: 22px 24px;
        border: 1px solid #EEEEEE;
        border-top: none;
        position: relative;
        background-color: #FFFFFF;
        z-index: 2;
    }

    .portfolio-gallery__overlay {
        position: absolute;
        bottom: 109px;
        width: 100%;
        height: 294px;
        padding: 63px 24px;
        background: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: 250ms var(--timing-function);
    }
}

    